<!-- Banner -->
<div class="mb-5">
    <app-banner [bannerTitle]="bannerTitle"></app-banner>
  </div>


<section class="pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="terms-content">
          <header class="terms-header text-center mb-5">
            <h1 class="terms-title textMainColor mb-2">{{ 'termsCondition.bookingTerms' | translate }}</h1>
            <p class="terms-subtitle text-secondary fs-5">{{ 'termsCondition.journeyWithPeaceOfMind' | translate }}</p>
          </header>

          <p class="terms-intro lead text-secondary mb-5">
            {{ 'termsCondition.journeyWithPeaceOfMindDescription' | translate }}
          </p>

          <ol class="terms-list list-unstyled">
            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.bookingYourTour' | translate }}</h2>
              <p>{{ 'termsCondition.bookingYourTourDescription' | translate }}</p>
              <p>{{ 'termsCondition.bookingYourTourDescription2' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.alfaOmegaToursMinistryCompliance' | translate }}</h2>
              <p>{{ 'termsCondition.alfaOmegaToursMinistryComplianceDescription' | translate }}</p>
              <p>{{ 'termsCondition.alfaOmegaToursMinistryComplianceDescription2' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.personalizedItinerary' | translate }}</h2>
              <p>{{ 'termsCondition.personalizedItineraryDescription' | translate }}</p>
              <p>{{ 'termsCondition.personalizedItineraryDescription2' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.bookingPolicy' | translate }}</h2>
              <ul class="mb-0">
                <li>{{ 'termsCondition.bookingPolicyDescription1' | translate }}</li>
                <li>{{ 'termsCondition.bookingPolicyDescription2' | translate }}</li>
                <li>{{ 'termsCondition.bookingPolicyDescription3' | translate }}</li>
              </ul>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.creditCardPayments' | translate }}</h2>
              <p>{{ 'termsCondition.creditCardPaymentsDescription' | translate }}</p>
              <p>{{ 'termsCondition.creditCardPaymentsDescription2' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.cancellationPolicy' | translate }}</h2>
              <p>{{ 'termsCondition.cancellationPolicyDescription' | translate }}</p>
              <p>{{ 'termsCondition.cancellationPolicyDescription2' | translate }}</p>
              <p>{{ 'termsCondition.cancellationPolicyDescription3' | translate }}</p>
              <p>{{ 'termsCondition.cancellationPolicyDescription4' | translate }}</p>
              <p>{{ 'termsCondition.cancellationPolicyDescription5' | translate }}</p>
              <p>{{ 'termsCondition.cancellationPolicyDescription6' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.cancellationPolicyChristmas' | translate }}</h2>
              <ul>
                <li>{{ 'termsCondition.cancellationPolicyChristmasDescription1' | translate }}</li>
                <li>{{ 'termsCondition.cancellationPolicyChristmasDescription2' | translate }}</li>
                <li>{{ 'termsCondition.cancellationPolicyChristmasDescription3' | translate }}</li>
                <li>{{ 'termsCondition.cancellationPolicyChristmasDescription4' | translate }}</li>
              </ul>
              <p>{{ 'termsCondition.cancellationPolicyChristmasDescription5' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.refundPolicy' | translate }}</h2>
              <ul class="mb-0">
                <li>{{ 'termsCondition.refundPolicyDescription1' | translate }}</li>
                <li>{{ 'termsCondition.refundPolicyDescription2' | translate }}</li>
                <li>{{ 'termsCondition.refundPolicyDescription3' | translate }}</li>
              </ul>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.forceMajeure' | translate }}</h2>
              <p>{{ 'termsCondition.forceMajeureDescription' | translate }}</p>
              <p>{{ 'termsCondition.forceMajeureDescription2' | translate }}</p>
              <ul>
                <li>{{ 'termsCondition.forceMajeureDescription3' | translate }}</li>
                <li>{{ 'termsCondition.forceMajeureDescription4' | translate }}</li>
              </ul>
              <p>{{ 'termsCondition.forceMajeureDescription5' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.accommodation' | translate }}</h2>
              <ul class="mb-0">
                <li>{{ 'termsCondition.accommodationDescription1' | translate }}</li>
                <li>{{ 'termsCondition.accommodationDescription2' | translate }}</li>
                <li>{{ 'termsCondition.accommodationDescription3' | translate }}</li>
              </ul>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.flights' | translate }}</h2>
              <p><strong>{{ 'termsCondition.domesticFlights' | translate }}</strong><br>{{ 'termsCondition.domesticFlightsDescription' | translate }}</p>
              <p class="mb-0"><strong>{{ 'termsCondition.internationalFlights' | translate }}</strong><br>{{ 'termsCondition.internationalFlightsDescription' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.promotionalOffers' | translate }}</h2>
              <p>{{ 'termsCondition.promotionalOffersDescription' | translate }}</p>
              <ul class="mb-0">
                <li>{{ 'termsCondition.promotionalOffersDescription1' | translate }}</li>
                <li>{{ 'termsCondition.promotionalOffersDescription2' | translate }}</li>
                <li>{{ 'termsCondition.promotionalOffersDescription3' | translate }}</li>
                <li>{{ 'termsCondition.promotionalOffersDescription4' | translate }}</li>
                <li>{{ 'termsCondition.promotionalOffersDescription5' | translate }}</li>
              </ul>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.responsibility' | translate }}</h2>
              <p>{{ 'termsCondition.responsibilityDescription' | translate }}</p>
              <ul>
                <li>{{ 'termsCondition.responsibilityDescription1' | translate }}</li>
                <li>{{ 'termsCondition.responsibilityDescription2' | translate }}</li>
                <li>{{ 'termsCondition.responsibilityDescription3' | translate }}</li>
                <li>{{ 'termsCondition.responsibilityDescription4' | translate }}</li>
                <li>{{ 'termsCondition.responsibilityDescription5' | translate }}</li>
              </ul>
              <p class="mb-0">{{ 'termsCondition.responsibilityDescription6' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.specialRequestsPolicy' | translate }}</h2>
              <p>{{ 'termsCondition.specialRequestsPolicyDescription' | translate }}</p>
              <p>{{ 'termsCondition.specialRequestsPolicyDescription2' | translate }}</p>
              <p class="mb-0">{{ 'termsCondition.specialRequestsPolicyDescription3' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.childrenPolicy' | translate }}</h2>
              <p>{{ 'termsCondition.childrenPolicyDescription' | translate }}</p>
              <p>{{ 'termsCondition.childrenPolicyDescription2' | translate }}</p>
              <p>{{ 'termsCondition.childrenPolicyDescription3' | translate }}</p>
              <p>{{ 'termsCondition.childrenPolicyDescription4' | translate }}</p>
              <p>{{ 'termsCondition.childrenPolicyDescription5' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.useOfPhotos' | translate }}</h2>
              <p>{{ 'termsCondition.useOfPhotosDescription' | translate }}</p>
              <p class="mb-0">{{ 'termsCondition.useOfPhotosDescription2' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.tipping' | translate }}</h2>
              <p>{{ 'termsCondition.tippingDescription' | translate }}</p>
              <p class="mb-0">{{ 'termsCondition.tippingDescription2' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.websiteGeneralTerms' | translate }}</h2>
              <ul class="mb-0">
                <li><strong>{{ 'termsCondition.websiteGeneralTermsDescription1' | translate }}</strong></li>
                <li><strong>{{ 'termsCondition.websiteGeneralTermsDescription2' | translate }}</strong></li>
                <li><strong>{{ 'termsCondition.websiteGeneralTermsDescription3' | translate }}</strong></li>
                <li><strong>{{ 'termsCondition.websiteGeneralTermsDescription4' | translate }}</strong></li>
                <li><strong>{{ 'termsCondition.websiteGeneralTermsDescription5' | translate }}</strong></li>
                <li><strong>{{ 'termsCondition.websiteGeneralTermsDescription6' | translate }}</strong></li>
              </ul>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.alfaOmegaToursDataProtection' | translate }}</h2>
              <p>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription' | translate }}</p>
              <p>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription2' | translate }}</p>
              <p>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription3' | translate }}</p>
              <ul>
                <li>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription4' | translate }}</li>
                <li>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription5' | translate }}</li>
                <li>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription6' | translate }}</li>
                <li>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription7' | translate }}</li>
                <li>{{ 'termsCondition.alfaOmegaToursDataProtectionDescription8' | translate }}</li>
              </ul>
              <p class="mb-0">{{ 'termsCondition.alfaOmegaToursDataProtectionDescription9' | translate }}</p>
            </li>

            <li class="terms-item mb-5">
              <h2 class="h5 textMainColor mb-3">{{ 'termsCondition.acceptanceOfAgreement' | translate }}</h2>
              <p>{{ 'termsCondition.acceptanceOfAgreementDescription' | translate }}</p>
              <ul class="mb-0">
                <li>{{ 'termsCondition.acceptanceOfAgreementDescription1' | translate }}</li>
                <li>{{ 'termsCondition.acceptanceOfAgreementDescription2' | translate }}</li>
                <li>{{ 'termsCondition.acceptanceOfAgreementDescription3' | translate }}</li>
              </ul>
            </li>
          </ol>
        </div>
        
      </div>
    </div>
  </div>
</section>
