<div class="row g-3 mt-3">
  <div class="col-sm-6">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="1678"></h4>
      <h6>{{ "counter.travelPackCompletedInLast5Years" | translate }}</h6>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="item text-capitalize p-3 border-0">
      <h4 ngxCountAnimation="2987"></h4>
      <h6>{{ "counter.partnerWithAtlanticTours" | translate }}</h6>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="1919"></h4>
      <h6>{{ "counter.internationalCorporateTieUps" | translate }}</h6>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="2409"></h4>
      <h6>{{ "counter.localInternationalClientTieUps" | translate }}</h6>
    </div>
  </div>
</div>
