<div class="row g-3 mt-4">
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-jet-fighter-up textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.convenientBooking" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-water-ladder textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.multiDestination" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-location-dot textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.customPackages" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-cubes-stacked textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.destinationExpertise" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-mountain-city textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.sustainableTravel" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-sailboat textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.exclusiveDeals" | translate }}</h5>
    </div>
  </div>
</div>
