// Global SCSS Variables for the entire project
// $primary-color: #819A91;
// $secondary-color: #A7C1A8;
$primary-color:  #0060df;
$secondary-color: #003eaa;
$primary-white-color: #0061df56;
$primary-black-color: #08446A;
$text-color: #1F2937;
$border-color: #EEEFEF;
$heading-font: "Laila", serif;
$accent-font: "Lily Script One", system-ui;
$bady-font: "Bellota", system-ui;
$transition: all 0.7s ease-in-out;
