// Global SCSS Variables for the entire project
// primary #DB9F3E   secondary #0A1642,
$primary-color: #819A91;
$secondary-color: #A7C1A8;
$primary-white-color: #ECEBDE;
$primary-black-color: #08446A;
$text-color: #1F2937;
$border-color: #EEEFEF;
$heading-font: "Laila", serif;
$accent-font: "Lily Script One", system-ui;
$bady-font: "Bellota", system-ui;
$transition: all 0.7s ease-in-out;
