@import '../../../styles/variables';

.item{
    &:hover{
        transform: translateY(5px) scale(1.01);

        figure button.mainBtn.Btn {
            background-color: $primary-color;
        }
    }
    // figure{
    //     button.mainBtn.Btn i{
    //         color: white;
    //     }

    // }
    figcaption{
        h3{
            color: $secondary-color;
            height: 50px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            font-size: 20px;

            &:hover{
                color: $primary-color;
            }
        }

    }
}
