<section class="my-5 py-5">
  <div class="container pt-5">
    <figure class="rounded-pill">
      <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div
          class="item position-relativ bg-white rounded-4 sideBar p-3 text-center"
        >
          <h5 class="textSecondColor text-capitalize h4">
            {{ "booknow.title" | translate }}
          </h5>
          <p class="my-3">
            {{ "booknow.description" | translate }}
          </p>
          <button routerLink="/makeTrip" class="mainBtn Btn">
            {{ "booknow.button" | translate }}
            <i class="fa fa-arrow-right ms-1 rounded-circle"></i>
          </button>
        </div>
      </div>
    </figure>
  </div>
</section>
