<div class="topsec position-relative">
  <!-- YouTube Video Background -->
  <div class="video-background position-absolute top-0 start-0 w-100 h-100">
    <iframe
      *ngIf="sanitizedVideoUrl"
      [src]="sanitizedVideoUrl"
      class="video-iframe"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
      title="Tourism Video Background"
    ></iframe>
    <!-- Overlay for better content visibility -->
    <div
      class="video-overlay position-absolute top-0 start-0 w-100 h-100"
    ></div>
  </div>

  <!-- Video Content Wrapper -->
  <div class="video-content-wrapper position-absolute bottom-0 start-0 w-100">
    <div class="container">
      <!-- form search -->
      <div
        class="formBox bg-white rounded-5 p-4 pb-3 sideBar mb-md-0 text-capitalize"
      >
        <mat-tab-group>
          <mat-tab [label]="'home.makeYourTour' | translate">
            <form
              [formGroup]="makeTripForm"
              (ngSubmit)="onMakeTripSubmit()"
              class="row g-3 align-items-center justify-content-between"
            >
              <div class="col-12">
                <mat-radio-group
                  [value]="MarkTime"
                  (change)="onChangeTime($event.value)"
                  class="d-flex flex-wrap gap-1"
                >
                  <mat-radio-button value="exact">{{
                    "home.haveAnExactTime" | translate
                  }}</mat-radio-button>
                  <mat-radio-button value="approximate">{{
                    "home.haveAnApproximateTime" | translate
                  }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-3">
                <div class="text-capitalize">
                  <label class="textSecondColor"
                    ><i class="fa fa-map-marker-alt me-2 mb-2"></i
                    >{{ "home.destinations" | translate }}</label
                  >
                  <mat-form-field class="w-100">
                    <mat-select formControlName="city">
                      <mat-option value="" disabled selected>
                        {{ "home.myDestination" | translate }}
                      </mat-option>
                      <mat-option
                        *ngFor="let des of allDestinations"
                        [value]="des.slug"
                      >
                        {{ des.title }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <!-- if have exact time -->
              @if (MarkTime==='exact') {
              <div class="col-md-3">
                <div class="text-capitalize">
                  <label class="textSecondColor"
                    ><i class="fa fa-calendar-days me-2 mb-2"></i>
                    {{ "home.checkInDate" | translate }}
                  </label>
                  <mat-form-field class="w-100">
                    <mat-label>{{ "home.startDate" | translate }}</mat-label>
                    <input
                      formControlName="start_date"
                      matInput
                      [matDatepicker]="StartDatepicker"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="StartDatepicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker touchUi #StartDatepicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-capitalize">
                  <label class="textSecondColor"
                    ><i class="fa fa-calendar-days me-2 mb-2"></i>
                    {{ "home.checkOutDate" | translate }}
                  </label>
                  <mat-form-field class="w-100">
                    <mat-label>{{ "home.endDate" | translate }}</mat-label>
                    <input
                      formControlName="end_date"
                      matInput
                      [matDatepicker]="EndDatepicker"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="EndDatepicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker touchUi #EndDatepicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              }

              <!-- if have aproximate time -->
              @if (MarkTime==='approximate') {
              <div class="col-md-6">
                <div>
                  <label class="textSecondColor"
                    ><i class="fa fa-calendar-days me-2 mb-2"></i>
                    {{ "home.checkOutDate" | translate }}
                  </label>
                  <mat-form-field class="w-100">
                    <mat-label>{{ "home.selectMonth" | translate }}</mat-label>
                    <mat-select formControlName="approximate_time">
                      <mat-option
                        *ngFor="let month of monthList; let i = index"
                        [value]="i + 1"
                        >{{ month }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              }

              <div class="col-md-3">
                <div class="text-capitalize flexCenter">
                  <button
                    type="submit"
                    class="mainBtn Btn flexBetween gap-2 w-100"
                  >
                    {{ "common.makeTrip" | translate
                    }}<i
                      class="fa fa-plane-circle-check bgPrimaryWhiteColor textMainColor rounded-circle"
                    ></i>
                  </button>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab [label]="'home.findYourTour' | translate">
            <form
              [formGroup]="tourSearchForm"
              (ngSubmit)="onTourSubmit()"
              class="row g-3 align-items-center justify-content-between"
            >
              <div class="col-md-3">
                <div
                  class="text-capitalize bg-transparent textSecondColor rounded-3 px-2 py-1 text-start"
                >
                  <!-- <label
                    ><i class="fa fa-plane me-2 mb-2"></i
                    >{{ "home.destinations" | translate }}</label
                  > -->
                  <select
                    formControlName="location"
                    class="p-2 rounded-1 text-secondary border-0"
                  >
                    <option
                      value=""
                      disabled
                      selected
                      class="bg-secondary text-white"
                    >
                      {{ "home.allDestinations" | translate }}
                    </option>
                    @for (des of allDestinations; track $index) {
                    <option [value]="des.id">{{ des.title }}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div
                  class="text-capitalize bg-transparent textSecondColor rounded-3 px-2 py-1 text-start"
                >
                  <!-- <label
                    ><i class="fa fa-layer-group me-2 mb-2"></i
                    >{{ "home.categories" | translate }}</label
                  > -->
                  <select
                    formControlName="type"
                    class="p-2 rounded-1 text-secondary border-0"
                  >
                    <option
                      value=""
                      disabled
                      selected
                      class="bg-secondary text-white"
                    >
                      {{ "home.allCategories" | translate }}
                    </option>
                    @for (cat of allCategories; track $index) {

                    <option [value]="cat.id">{{ cat.title }}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div
                  class="text-capitalize bg-transparent textSecondColor rounded-3 px-2 py-1 text-start"
                >
                  <!-- <label
                    ><i class="fa fa-alarm-clock me-2 mb-2"></i
                    >{{ "common.duration" | translate }}</label
                  > -->
                  <select
                    formControlName="duration"
                    class="p-2 rounded-1 text-secondary border-0"
                  >
                    <option
                      value=""
                      disabled
                      selected
                      class="bg-secondary text-white"
                    >
                      when you go to?
                    </option>
                    @for (time of allDurations; track $index) {

                    <option [value]="time.id">{{ time.title }}</option>
                    }
                  </select>
                </div>
              </div>

              <div class="col-md-3 col-12">
                <div class="text-capitalize flexCenter">
                  <button
                    type="submit"
                    class="mainBtn Btn flexBetween gap-2 w-100"
                  >
                    {{ "common.search" | translate
                    }}<i
                      class="fa fa-magnifying-glass-plus bgPrimaryWhiteColor textMainColor rounded-circle"
                    ></i>
                  </button>
                </div>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<!-- destination carousel -->
<section>
  <div class="container-fluid">
    <div>
      <owl-carousel-o
        *ngIf="allDestinations.length > 0"
        [options]="destinationOptions"
      >
        @for (des of allDestinations; track $index) {
        <ng-template carouselSlide>
          <app-destination-cart [destination]="des"></app-destination-cart>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>

<!-- life time section -->
<app-aboutsection></app-aboutsection>

<section class="travel-agency-intro-content my-5 py-5">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-xl-6">
        <figure class="position-relative py-3 ps-3 pe-4">
          <img
            src="../../../assets/image/pyramids.jpg"
            loading="lazy"
            alt="travel agency intro"
            class="w-100 h-100 rounded-3 overflow-hidden"
          />
        </figure>
      </div>
      <div class="col-xl-6">
        <app-about-category></app-about-category>
      </div>
    </div>
  </div>
</section>

<section class="popTours py-5 my-5">
  <div class="container position-relative">
    <div class="title-box position-relative flexBetween flex-wrap mb-4">
      <div class="secTitle text-capitalize">
        <span class="textSecondColor fw-bold fs-5">{{
          "home.tourExperience" | translate
        }}</span>
        <h2 class="text-black fw-bold">
          {{ "home.ultimateTravelExperience" | translate }}
        </h2>
      </div>
    </div>

    @if (allToursFromCategories.length > 0) {
    <owl-carousel-o [options]="tourOptions">
      @for (tour of allToursFromCategories; track $index) {
      <ng-template carouselSlide>
        <app-tour-cart [tour]="tour"></app-tour-cart>
      </ng-template>
      }
    </owl-carousel-o>
    }

    <!-- <app-counter></app-counter> -->
  </div>
</section>

<app-why-booking-with-us></app-why-booking-with-us>

<app-testimonial-cart></app-testimonial-cart>

<section class="popTours py-5 mb-5">
  <div class="container position-relative pt-5">
    <div class="title-box position-relative flexBetween flex-wrap mb-4">
      <div class="secTitle text-capitalize">
        <span class="textSecondColor fw-bold fs-5">{{
          "home.tourExperience" | translate
        }}</span>
        <h2 class="text-black fw-bold">
          {{ "home.ourMostPopularTours" | translate }}
        </h2>
      </div>
    </div>

    <!--  on small screen from 0px to 767px  -->
    <div class="">
      @if (allPopularToursFromCategories.length > 0) {
      <owl-carousel-o [options]="popularToursOptions">
        @for (tour of allPopularToursFromCategories; track $index) {
        <ng-template carouselSlide>
          <app-tour-cart [tour]="tour"></app-tour-cart>
        </ng-template>
        }
      </owl-carousel-o>
      }
    </div>
  </div>
</section>

<!-- <section class="offers my-5 py-5">
  <div class="container">
    <div class="secTitle text-center">
      <span
        class="box bgMainColor text-white text-uppercase border rounded-pill p-2 transition"
      >
        <span
          class="bg-white textMainColor rounded-circle transition d-inline-block"
          ><i class="fa fa-plane me-2 ps-1"></i
        ></span>

        special Offers
      </span>
      <h2 class="my-3 textSecondColor fw-bold">Offers To Inspire You</h2>
    </div>

    <div class="row g-3 mt-4">
      <div class="col-md-6">
        <div class="rounded-3 overflow-hidden">
          <figure class="mb-0 position-relative">
            <img
              src="../../../assets/image/offer-1-1.webp"
              class="w-100 h-100 transition"
              alt="offer image"
            />
            <div
              class="content d-flex justify-content-center flex-column text-capitalize position-absolute ps-5 py-5 bg-dark bg-opacity-25"
            >
              <span class="text-white">special offer</span>
              <h6 class="text-white h4 fw-bold my-2">
                Explore All Tour Of The World With Us
              </h6>
              <button class="secBtn Btn py-1">
                book now <i class="fa fa-angles-right rounded-circle"></i>
              </button>
            </div>
          </figure>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rounded-3 overflow-hidden">
          <figure class="mb-0 position-relative">
            <img
              src="../../../assets/image/offer-1-2.webp"
              class="w-100 h-100 transition"
              alt="offer image"
            />

            <div
              class="content d-flex justify-content-center flex-column text-capitalize position-absolute ps-5 py-5 bg-dark bg-opacity-25"
            >
              <span class="text-white">special offer</span>
              <h6 class="text-white h4 fw-bold my-2">
                Explore All Tour Of The World With Us
              </h6>
              <button class="secBtn Btn py-1">
                book now <i class="fa fa-angles-right rounded-circle"></i>
              </button>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="destinations my-5 py-5">
  <div class="container">
    <div class="flexBetween flex-wrap">
      <div class="secTitle">
        <h2 class="my-3 textSecondColor fw-bold">
          Our Most Popular Travel Deals
        </h2>
      </div>
    </div>

    <div class="controls p-2 px-3 rounded-4 mb-3">
      <button
        [class.active]="!activeDestinationTitle"
        (click)="getDestinationTours()"
        class="mainBtn Btn text-capitalize me-2 mb-2 p-2"
      >
        all tours
      </button>
      @if (allDestinations.length>0) {
      <owl-carousel-o [options]="controlOptions">
        @for ( des of allDestinations ; track $index) {
        <ng-template carouselSlide>
          <button
            (click)="getDestinationTours(des.title)"
            [class.active]="activeDestinationTitle === des.title"
            class="mainBtn Btn text-capitalize w-100 mb-2 p-2"
          >
            {{ des.title }}
          </button>
        </ng-template>
        }
      </owl-carousel-o>
      }
    </div>

    <div *ngIf="alltoursInDestination.length > 0" class="mt-4">
      <owl-carousel-o
        *ngIf="allDestinations.length > 0"
        [options]="destinationOptions"
      >
        @for (tour of alltoursInDestination; track $index) {
        <ng-template carouselSlide>
          <app-tour-cart [tour]="tour"></app-tour-cart>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
    <h2
      *ngIf="alltoursInDestination.length == 0"
      class="text-capitalize text-danger h1 mt-4"
    >
      no tours in this destination
    </h2>

  </div>
</section> -->

<!-- <section class="team my-5 py-5">
  <div class="container">
    <div class="secTitle text-center">
      <span
        class="box bgMainColor text-white text-uppercase border rounded-pill p-2 transition"
      >
        <span
          class="bg-white textMainColor rounded-circle transition d-inline-block"
          ><i class="fa fa-plane me-2 ps-1"></i
        ></span>

        our team
      </span>
      <h2 class="my-3 textSecondColor fw-bold">Meet With Our Experts Team</h2>
    </div>

    <app-team-cart></app-team-cart>
  </div>
</section>  -->

<section class="blogs my-5 py-5">
  <div class="container">
    <div class="secTitle text-center">
      <span
        class="box bgMainColor text-white text-uppercase border rounded-pill p-2 transition"
      >
        <span
          class="bg-white textMainColor rounded-circle transition d-inline-block"
          ><i class="fa fa-plane me-2 ps-1"></i
        ></span>

        our blog
      </span>
      <h2 class="my-3 textSecondColor fw-bold">Our Latest Blog & News</h2>
    </div>

    <!-- This fetches blogs and stores them -->
    <app-blog-cart (blogsLoaded)="onBlogsLoaded($event)"></app-blog-cart>
  </div>
</section>

<app-partner-slider></app-partner-slider>
