@import '../../../styles/variables';

.item{
    figure {
      height: 350px;
      & > span{
        transform: translateX(-200%);
}
        &:hover{
          & > span{
            transform: translateX(0);
}
        }
    }

    &:hover{

       figure{
        img{
           transform: scale(1.2);
           -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
           -ms-transform: scale(1.2);
           -o-transform: scale(1.2);
}
          figcaption h5{
            letter-spacing: 4px;
          }

}
       }

    }

