@import '../../../styles/variables';
.item{
    box-shadow: rgba($primary-color, 0.16) 0px 10px 40px;

    h3{
      height: 50px;
    }

    &:hover{
      background-color: $primary-color;
      color: white;
      box-shadow: rgba($primary-color, 0.3) 0px 19px 38px, rgba($primary-color, 0.22) 0px 15px 12px;
      i , h3 , p {
          color: white;
        }
    }

    @media screen and (max-width:568px) {
        h3{font-size: 16px !important; height: auto;}
        p{font-size: 13px !important;}
    }
}
