<div class="mb-5">
  <app-banner [bannerTitle]="bannerTitle"></app-banner>
</div>

<section class="my-5 py-5">
  <div class="container">
    <div class="row g-3 align-items-center">
      <div class="col-lg-6 col-md-4">
        <figure>
          <img
            src="../../../assets/image/Forgot password.gif"
            alt="forget-password"
            class="img-fluid"
          />
        </figure>
      </div>
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="specialBorder bg-white p-4 sideBar login-card" @scaleIn>
          <div class="text-center" @fadeInUp>
            <img
              [src]="logo"
              [alt]="siteTitle"
              [title]="siteTitle"
              width="200px"
              height="70px"
              class="logo-animation"
            />
            <br />
            <p class="fs-5 title-animation">
              {{ "forgetPassword.loginByAccount" | translate }}
            </p>
          </div>

          <form
            [formGroup]="forgetPasswordForm"
            (ngSubmit)="handleForgetPassForm()"
            class="form-animation row g-3"
          >
            <div class="col-md-6 mb-3 form-group-animated" @slideIn>
              <label
                for="email"
                class="textSecondColor text-capitalize fw-bold mb-2 form-label"
                >{{ "forgetPassword.emailAddress" | translate }}</label
              >
              <div class="item position-relative input-wrapper">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  placeholder="{{ 'login.yourEmail' | translate }}"
                  class="form-control p-2 ps-5 rounded-3 animated-input"
                />
                <i class="fa-regular fa-envelope textMainColor input-icon"></i>
              </div>
              <!-- show validators -->
              <div
                *ngIf="
                  forgetPasswordForm.get('email')?.errors &&
                  forgetPasswordForm.get('email')?.touched
                "
                class="alert alert-danger mt-2"
              >
                <span
                  *ngIf="forgetPasswordForm.get('email')?.getError('required')"
                  >{{ "forgetPassword.emailRequired" | translate }}</span
                >
              </div>
            </div>
            <div class="col-md-6 mb-3 form-group-animated" @slideIn>
              <label
                for="otp"
                class="textSecondColor text-capitalize fw-bold mb-2 form-label"
                >{{ "forgetPassword.otpCode" | translate }}</label
              >
              <div class="item position-relative input-wrapper">
                <input
                  type="number"
                  id="otp"
                  formControlName="otp"
                  placeholder="{{ 'forgetPassword.yourOtpCode' | translate }}"
                  class="form-control p-2 ps-5 rounded-3 animated-input"
                />
                <i class="fa fa-code textMainColor input-icon"></i>
              </div>
              <!-- show validators -->
              <div
                *ngIf="
                  forgetPasswordForm.get('otp')?.errors &&
                  forgetPasswordForm.get('otp')?.touched
                "
                class="alert alert-danger mt-2"
              >
                <span
                  *ngIf="forgetPasswordForm.get('otp')?.getError('required')"
                  >{{ "forgetPassword.otpRequired" | translate }}</span
                >
              </div>
            </div>

            <button
              [disabled]="forgetPasswordForm.invalid"
              type="submit"
              class="mainBtn Btn mb-3 w-100 submit-btn"
              @fadeInUp
            >
              <i
                *ngIf="isLoading"
                class="fa-solid fa-spinner fa-spin me-1 border-0 bg-transparent text-white"
              ></i>
              <i
                class="fa fa-paper-plane mx-2 border-0 bg-transparent text-white"
              ></i>
              {{ "forgetPassword.login" | translate }}
            </button>
          </form>
          <p class="my-2 text-center link-text" @fadeInUp>
            {{ "forgetPassword.dontHaveAccount" | translate }}
            <span
              routerLink="/signup"
              class="textMainColor fw-bold cPointer link-hover"
              >{{ "forgetPassword.signUp" | translate }}.</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
